In [1]:
import pandas as pd
import numpy as np
!pip install geopy
from geopy.distance import geodesic
from geopy.distance import distance

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: geopy in c:\users\maria\appdata\roaming\python\python311\site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\maria\appdata\roaming\python\python311\site-packages (from geopy) (2.0)

In [2]:
csv="refugios.csv"
r=pd.read_csv(csv)
r.head()

         LAT       LONG
0  16.883025 -99.896139
1  16.874242 -99.891547
2  16.855032 -99.846083
3  16.830069 -99.795341
4  16.804078 -99.833077

In [3]:
csv="demandas.csv"
d=pd.read_csv(csv)
d.head()

         LAT       LONG
0  16.876952 -99.899884
1  16.875723 -99.888034
2  16.799835 -99.835662
3  16.820880 -99.816799
4  16.868254 -99.901398

In [4]:
distances_matrix = np.zeros((len(r), len(d)))

In [5]:
for i, r_row in r.iterrows():
    for j, d_row in d.iterrows():
        house_coords = (d_row['LAT'], d_row['LONG'])
        shelter_coords = (r_row['LAT'], r_row['LONG'])
        distance_km = geodesic(house_coords, shelter_coords).kilometers
        distances_matrix[i, j] = distance_km

In [6]:
distances_df = pd.DataFrame(distances_matrix, index=r.index, columns=d.index)
distances_df.head(10)

           0          1          2          3          4          5          6
0   0.781609   1.182729  11.238338  10.899050   1.728062   1.627947   1.393408
1   0.937650   0.408579  10.162695   9.916219   1.241407   0.634867   1.042719
2   6.225237   5.022717   6.208644   4.901573   6.073508   5.210296   4.832876
3  12.289903  11.095291   5.446672   2.503020  12.066756  11.238199  10.883756
4  10.758061   9.857524   0.544430   2.543176  10.171639   9.576061   9.943845
5  22.048704  21.002684  11.537166  11.308584  21.573704  20.889265  20.944191
6  21.994497  20.950109  11.474930  11.258378  21.517672  20.834540  20.893165

In [7]:
distances_df.to_csv("distancias_reales.csv", index=False)